@page
@model Jaller.Server.Pages.Errors._404Model
@{
    ViewData["Title"] = "404 Not Found";
}

<div class="row">
    <div class="col-md-12">
        <p>No such page exists at this location.</p>
    
        <p>Try going back to <a href="/">Home</a> or try performing a <a href="/Search">Search</a>.</p>
    </div>
</div>
