@*
//
// Jaller - An advanced IPFS Gateway
// Copyright (C) 2025 Seth Hendrick
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
*@
@page "/License"
@inject HttpClient httpCLient;
@inject ILogger<License> log;

<PageTitle>License</PageTitle>

@if( licensedCached )
{
    @((MarkupString)licenseText)
}
else
{
    <p>@licenseText</p>
}

@code {
    // ---------------- Fields ----------------

    private static string licenseText = "Loading license text...";

    private static bool licensedCached = false;

    // ---------------- Methods ----------------

    protected override async Task OnInitializedAsync()
    {
        if( licensedCached )
        {
            return;
        }

        HttpResponseMessage versionResponse = await this.httpCLient.GetAsync( "/api/about/license.txt" );
        if( versionResponse.IsSuccessStatusCode )
        {
            licensedCached = true;
            string markdownText = await versionResponse.Content.ReadAsStringAsync();
            licenseText = MarkdownToHtmlConverter.Convert( markdownText );
        }
        else
        {
            string errorString = await versionResponse.Content.ReadAsStringAsync();
            licenseText = $"Error getting License information: {errorString}";
        }
    }
}
