@*
//
// Jaller - An advanced IPFS Gateway
// Copyright (C) 2025 Seth Hendrick
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
*@

@page

@model Jaller.Server.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "User Configuration";
}

<div class="row">
    <div class="col-md-12">
        <ul class="no-bullets">
            <li><a href="/Admin/Users/Add"><i class="fa-solid fa-user-plus"></i> Add User</a></li>
        </ul>
    </div>
</div>