@page
@model Jaller.Server.Pages.About.LicenseModel
@{
    ViewData["Title"] = "Software License";
}

<div class="row">
    <div class="col-md-12">
        @this.Html.Raw( this.Model.LicenseHtml )
    </div>
</div>
