@*
//
// Jaller - An advanced IPFS Gateway
// Copyright (C) 2025 Seth Hendrick
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
*@

@page

@model Jaller.Server.Pages.Folder.DeleteModel

@if( this.Model.JallerFolder is null )
{
    ViewData["Title"] = "Can not find folder";

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                @if( this.Model.GetRequestErrorMessage is null )
                {
                    <p>Unknown Error :(</p>
                }
                else
                {
                    <p>@this.Model.GetRequestErrorMessage</p>
                }
            </div>
        </div>
    </div>
}
else
{
    const string warningHeader = "Warnings when trying to add folder:";
    const string errorHeader = "Errors when adding folder:";

    <partial name="_Alert" model="this.Model.ToAlertModel( warningHeading: warningHeader, errorHeading: errorHeader )" />

    string folderName = this.Model.JallerFolder.Name;
    ViewData["Title"] = $"Delete {folderName}";

    <div class="row">
        <div class="col-md-12">
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Delete @folderName?</h3>
                    </div>
                    <div class="panel-body">
                        <input type="hidden" name="@nameof( this.Model.FolderToDelete )" value="@this.Model.JallerFolder.Id" readonly />
                        <p>This will delete <strong>all</strong> sub-folders and files that are contained within this folder.</p>
                        <p>If you are sure, hit the "Delete" button below.</p>
                        <p>Otherwise, <a href="/Folder?id=@(this.Model.JallerFolder.Id)">click here</a> to go back to the folder's information page.</p>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-danger" type="submit" id="uploadButton">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}